# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.1
*.f
/Ipopt-3.12.10/Ipopt/test/hs071_nlp.hpp
/Ipopt-3.12.10/Ipopt/test/hs071_nlp.cpp
/Ipopt-3.12.10/Ipopt/test/hs071_main.cpp
/Ipopt-3.12.10/Ipopt/test/hs071_c.c
